* {
    margin: 0;
    padding: 0;
    border: 0;

  }


// #status-container{
//   width: 100%;
//   height: 100%;
//   display: grid;
//   align-items: center;
//   justify-content: center;
//   // grid-template-columns: 2fr;
//   // grid-template-rows: 4fr;
// }